.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__current-group
        = @group.name
      .chat-main__header__left-box__member-list
        Member : 
        - @group.users.each do |user|
          = user.name
      
    = link_to "Edit", edit_group_path(@group.id), class: "chat-main__header__edit-btn"
      
  .chat-main__message-list
    = render @messages
    
  .chat-main__message-form
    = form_for [@group, @message], html: {class: "chat-main__message-form__new"} do |f|
      .chat-main__message-form__new__input-box
        = f.text_field :content, class: "chat-main__message-form__new__input-box__text", placeholder: "type a message"
        = f.label :image, class: "chat-main__message-form__new__input-box__image" do
          = icon('far', 'image', class: 'img-icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: "chat-main__message-form__new__submit-btn"

      -# %input{placeholder: "type a message", class: "chat-main__message-form__input-box__text"}
      -# %label{class: "chat-main__message-form__input-box__image"}
        -# = icon('far', 'image')
        -# %input{type: "file"}
      -# %input{type: "submit", value: "Send", class: "chat-main__message-form__input-box__submit-btn"}




      
        